.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ContactDetailContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


@media (max-width: 540px) {
    .Container {
        flex-direction: column;
    }
    .ContactForm {
        margin-top: 10%;    
        width: 100%;
    }
}

