.Achievements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateY(60px);
    transition: 1s;
}


@media (max-width: 540px) {
    .Achievements {
        flex-direction: column;
        flex: 1;
    }
}

