.Achievement {
    max-height: 90vh;
    width: 25vw;
    flex-basis: 25%;
    background-color: white;
    border-radius: 2%;
    overflow: hidden;
    position: relative;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}

.Achievement img {
    /* position: absolute; */
    top: -5px;
    width: 100%;
    box-shadow: 5px solid grey;
    height: 350px;
}

.Achievement h2 {
    text-align: center;
}

.Subtitle {
    color: grey;
    text-align: center;
}

