.Notices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


@media (max-width: 540px) {
    .Notices {
        flex-direction: column;
    }
}