.Container {
    margin-top: 100px;
}

.Name {
    margin-top: 10px;
    text-align: right;
}

.Designation {
    text-align: right;
    font-size: 14px;
    color: grey;
}

.Files a {
    text-decoration: none;
    color: blue;
}
